.crib {
   padding: 100px 0;

   // .crib__title

   &__title {
      text-align: center;
      margin: 0px 0px 30px 0px;
   }

   // .crib__body

   &__body {
      max-width: 990px;
      margin: 0px auto;
   }

   // .crib__row

   &__row {
      display: flex;
      justify-content: space-between;
      margin: 0px -22.5px;
   }

   // .crib__column

   &__column {
      flex: 0 1 33.333%;
      padding: 0px 22.5px;
      display: flex;
      flex-direction: column;
   }

   // .crib__item

   &__item {
      background-color: #445162;
      color: white;
      border-radius: 5px;
     margin: 0px 0px 30px 0px;
      border: 1px solid #445162;height: 100%;
   }

   // .crib__subtitle

   &__subtitle {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      padding: 12px 0;
   }

   // .crib__label

   &__label {
      text-align: center;
      background-color: white;
      color: #445162;
      padding: 15px 0px;
      font-size: 40px;
   }

   // .crib__text

   &__text {
      display: flex;
      flex-direction: column;
      padding: 20px;
      font-size: 14px;
      line-height: 24px;
      
   }



   // .crib__stroki

   &__stroki {
      color: black;
      background-color:white;
      padding:10px 15px;
      margin:1px 0px;
   }
}
.container {
}

@media (max-width: 767px) {
   .crib__row{
       display: flex;
       flex-direction: column;
   }
   .crib{
      padding: 50px 0px ;
   }
}